
//..................Intermediate folders...................//

**Build
**Intermediate
**.vs
**__pycache__

//.........................................................//

//..................Intermediate files.....................//

*.user
*.generated*
*.gen
*.obj
*.o

/BuildProjectWindows.bat
/ClearIntermediate.bat
/GenerateWindowsProject.bat

//.........................................................//

//...................Visual Studio......................//

*.vscode
*.code-workspace
*.vs
*.vcxproj
*.sln
*.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace

//......................................................//	